.git
.gitignore
.env
.env.*
!.env.example

**/node_modules
**/dist
**/.vite

**/__pycache__
**/*.py[cod]
**/.venv
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/htmlcov

datasets/
models/
reports/
notebooks/
docs/
